<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images.ico') }}">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    hregister {
      position: absolute;
      left: 239px;
      top: 171px;
    }
    hlogout{
     position: absolute;
     top: 15px;
     right: 15px;
    }
    hleftlist{
     position: absolute;
     left: 510px;
    }
    hrecomand{
     font-weight: 500;
     line-height: 1.2;
     font-size: 1.25rem;
     position: absolute;
     left: 510px;
    }
    </style>
  </head>
  <body>

    <div class="container">

      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      <!-- messages -->
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>

  </body>
</html>