
{% extends "base.html" %}
{% block content %}

<h1>Welcome,  {{ current_user.name}}!</h1>
<h5>I'm glad to see you again!</h5>
<br>
  <hlogout> <a href="/logout"><button class="btn btn-sm btn-success"  >  Logout </button></a></hlogout>
<br>

<!-- post form -->
<h3>Add a review!</h3>
<br>
<form class="form-message" role="form" method="post" action="/">
  {{ form.csrf_token }}
    <p>
      <hrecomand>
          {% if recommendation %}
            You may like:  {{ recommendation.author }}: {{ recommendation.name }}, {{ recommendation.year }}
          {% endif %}
      </hrecomand>
      <hrecomand>
          {% if product.author %}
               {{product.author}} {{product.name}} {{product.year}}<br><br>


              {% if stars >= 1 %}
               <button class="btn btn-sm btn-success" name="stars" value="1.{{product.id}}" type="submit" style="color:yellow">
                   <i class="fa fa-star fa-2x"></i>
               </button>
              {% endif %}
              {% if stars < 1 %}
               <button class="btn btn-sm btn-success" name="stars" value="1.{{product.id}}" type="submit">
                   <i class="fa fa-star fa-2x"></i>
               </button>
              {% endif %}


              {% if stars >= 2 %}
               <button class="btn btn-sm btn-success" name="stars" value="2.{{product.id}}" type="submit" style="color:yellow">
                   <i class="fa fa-star fa-2x"></i>
               </button>
              {% endif %}
              {% if stars < 2 %}
               <button class="btn btn-sm btn-success" name="stars" value="2.{{product.id}}" type="submit">
                   <i class="fa fa-star fa-2x"></i>
               </button>
              {% endif %}


              {% if stars >= 3 %}
               <button class="btn btn-sm btn-success" name="stars" value="3.{{product.id}}" type="submit" style="color:yellow">
                   <i class="fa fa-star fa-2x"></i>
               </button>
              {% endif %}
              {% if stars < 3 %}
               <button class="btn btn-sm btn-success" name="stars" value="3.{{product.id}}" type="submit">
                   <i class="fa fa-star fa-2x"></i>
               </button>
              {% endif %}


              {% if stars >= 4 %}
               <button class="btn btn-sm btn-success" name="stars" value="4.{{product.id}}" type="submit" style="color:yellow">
                   <i class="fa fa-star fa-2x"></i>
               </button>
              {% endif %}
              {% if stars < 4 %}
               <button class="btn btn-sm btn-success" name="stars" value="4.{{product.id}}" type="submit">
                   <i class="fa fa-star fa-2x"></i>
               </button>
              {% endif %}


              {% if stars >= 5 %}
               <button class="btn btn-sm btn-success" name="stars" value="5.{{product.id}}" type="submit" style="color:yellow">
                   <i class="fa fa-star fa-2x"></i>
               </button>
              {% endif %}
              {% if stars < 5 %}
               <button class="btn btn-sm btn-success" name="stars" value="5.{{product.id}}" type="submit">
                   <i class="fa fa-star fa-2x"></i>
               </button>
              {% endif %}
              <br><br>
              {% if product.author %}
               <button class="btn btn-sm btn-success" name="add_review_button" value="{{stars}}.{{product.id}}" type="submit">Add review</button>
              {% endif %}
          {% endif %}
      </hrecomand>
    </p>
  <p>
      <hleftlist>
          {% for find in finded %}
          <button class="btn btn-sm btn-success" name=choose value={{find.id}} type="submit">
              {{find.name }}
              {{find.author}}
              {{find.year}}
          </button><br><br>
          {% endfor %}
      </hleftlist>
  </p>
  <p>
    {{ form.search(placeholder="Search a book to review",size="29") }}
    <span class="error">
      {% if form.search.errors %}
        {% for error in form.search.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-sm btn-success" name="search_button" type="submit">Search</button>
  <button class="btn btn-sm btn-success" name="make_recommendation" type="submit">Recommend me something</button>
</form>
<br>
<!-- All posts -->
<h3>Latest reviews:</h3>
{% for post in posts %}
  <strong>Product:</strong> {{ post.product.name }} <br>
  <strong>User:</strong> {{ post.author.name }} <br>
  <strong>Rate:</strong> {{ post.grade }} stars<br>
<br>
{% endfor %}

{% endblock %}